<!-- app/views/entries/index.html.erb -->

<h1><%= @project.name %></h1>
<ul>
  <% @entries.each do |entry| %>
    <li>
      <%= entry.hours %> h
      <%= entry.minutes %> m -
      <%= entry.date.strftime("%d.%m.%Y") %>
      |
      <%= link_to 'Delete', [@project, entry], method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
</ul>

<p>Hours worked this month: <%= @project.total_hours_in_month %></p>

<%= link_to "Add new entry", new_project_entry_path(@project) %>
