<!-- app/views/projects/show.html.erb -->

<p class="project">
  <%= image_tag @project.logo.url(:thumb) %>

  <%= @project.name %>

  <% if @project.description.present? %>
    -
    <%= @project.description %>
  <% end %>

  <%= render "links", project: @project %>

  <h4>Participants: </h4>
  <% @project.people.each do |person| %>
    <p><%= person.name %></p>
  <% end %>

  <%= link_to "Add new participant", new_person_path %>
</p>
