<!-- This file is: app/views/layouts/application.html.erb -->

<!DOCTYPE html>
<html>
<head>
  <title>Timetracking</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |key, value| %>
    <%= content_tag :div, value, class: "flash-info" %>
  <% end %>

  <h1>Timetracking tool</h1>

  <%= yield %>

  <hr />
  <%= link_to "List of all projects", projects_path %>
  |
  <%= link_to "New projects", new_project_path %>
</body>
</html>
